<nav class="bg-gray-800 px-6 py-5">
    <div class="nav flex justify-between items-center">
        <div class="logo">
            <h1 class="text-red-700 text-3xl">LOGO</h1>
        </div>
        <div class="links">
        <ul class="flex space-x-4 text-gray-200">
            <li><a href="" class="text-red-800 font-bold">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
            <li><a href="">Book Now</a></li>
        </ul>
    </div>
    </div>
</nav>